.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content-home {
  margin-top: 4rem;
  width: 80%;
}
.content-home h1{
  font-weight: 600;
  position: relative;
  bottom: 3rem;
  right: 7rem;
  font-size: 40px;
  font-style: oblique;
   color: #334226;
}
.search-home{
  position: fixed;
  top: 15rem;
  right: 55rem;
 display: flex;
 flex-direction: column;
}
.search-home input{
  border: none;
  background-color:#cedbba;
   height: 3rem;  
box-shadow: 0 0 10px rgba(91, 107, 75, 0.8);
}

.search-home label{
  color: #334226;
font-weight: 400;
font-size: large;
margin-bottom: 2rem;
}

